<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card *ngIf="movie" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img 
            *ngIf="movie?.ImageUrl"
            src="{{movie?.ImageUrl}}" 
            alt="{{movie.Title}}" />
            <strong>Synopsis:</strong>
            <p>{{ movie.Description }}</p>
        </mat-card-content>
        <mat-card-actions>
           <button
                (click)="openGenreDialog(movie.genre)"
                mat-button
                color="primary"
            >
            <strong>View Genre</strong>
                    {{ movie.Genre }}
            </button>
            <button
                mat-button
                color="primary"
                (click)="openDirectorDialog(movie.director)"
            >
                <strong>View Director</strong>
                {{ movie.Director }}
            </button>
            <button
            mat-icon-button>
            favorite_border 
        </button>
        </mat-card-actions>
    </mat-card>
</div>
