<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card *ngIf="movie" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
                    <button
            mat-icon-button
            (click)="favorites.toggle(movie._id)"
            class="likeButton"
            >
            <mat-icon color="warn"> 
                {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }} 
            </mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <div class="imageContainer">
                <img 
                mat-card-image
                [src]="movie?.ImageURL" [alt]="movie.Title" />
            </div>
            <div class="cardData">
            <p><strong>Synopsis:</strong> {{ movie.Description }} </p>

            <p><strong>Release Year:</strong>
            {{ movie.ReleaseYear }}</p>

            <p><strong>Setting: </strong>
            {{ movie.Setting }}</p>
<!--             <strong>Actors:</strong>
            <p>{{ movie.Actors.join(', ') }}</p> -->

            <p><strong> Featured: </strong>
            {{ movie.Featured ? 'Yes' : 'No' }}</p>

            <strong> Genre:   </strong>
                <a
                (click)="openGenreDialog(movie.Genre)"
                mat-button
                color="primary">  
            {{ movie.Genre?.Name }}
            </a>
            <br />
            <strong> Director:  </strong>
            <a
                mat-button
                color="primary"
                (click)="openDirectorDialog(movie.Director)"
            >
                  {{ movie.Director?.Name }}
            </a>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button class="closeButton" color="accent" (click)="goBack()">
            Return
            </button>
    </mat-card-footer>
    </mat-card>
</div>
