<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card *ngIf="movie" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img 
            src="{{movie.ImagePath}}" 
            alt="{{movie.Title}}" />
            <strong>Synopsis:</strong>
            <p>{{ movie.Description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <strong>Genre: </strong>
           <button
                (click)="openGenreDialog(movie.Genre.Name)"
                mat-button
                color="primary"
            >
            {{ movie.Genre.Name }}
            </button>
            <strong>Director: </strong>
            <button
                mat-button
                color="primary"
                (click)="openDirectorDialog(movie.Director.Name)"
            >
                {{ movie.Director.Name }}
            </button>
            <button
            mat-icon-button>
            favorite_border 
        </button>
        </mat-card-actions>
            <mat-card-footer>
        <button mat-button class="closeButton" color="accent" (click)="goBack()">
            Return
        </button>
    </mat-card-footer>
    </mat-card>
</div>
