mat-card-header {
padding: 10px 20px;
margin-top: 10px;
}
mat-card-title {
font: 1.4em sans-serif;
font-weight: 600;
}
mat-card-content {
padding: 10px 20px 0px 20px;
justify-content: center;
}

mat-card-content form {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  padding: 0px 20px 10px 20px;
  margin-bottom: 5px;
}