<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card class="profile-container" *ngIf="userData" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title> My Profile </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Username:</strong> {{ userData?.Username }}</p>
            <p><strong>Password:</strong> {{ userData?.Password }}</p>
            <p><strong>Email:</strong> {{ userData?.Email }}</p>
            <p><strong>Birthday:</strong> {{ userData?.DateOfBirth | date }}</p>
            <p><strong>Favorite Movies:</strong></p>
            <ul>
                <li *ngFor="let movie of favoriteMovies">{{ movie.Title }}</li>
            </ul>

        </mat-card-content>

<!--     <mat-card-actions>
        <button mat-button color="primary" (click)="openEditUserDialog()">
            Edit Profile
        </button>
        <button mat-button color="warn" (click)="deleteUser()">
            Delete Profile
        </button>
    </mat-card-actions> -->
    <mat-card-footer>
        <button mat-button class="closeButton" color="accent" (click)="goBack()">
            Close
        </button>
    </mat-card-footer>
    </mat-card>
</div>
