<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->

<!-- User profile info -->

<div style="display: flex;">
    <mat-card class="profile-container" *ngIf="userData" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title> My Profile </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Username:</strong> {{ userData?.Username }}</p>
            <p><strong>Password:</strong> {{ userData?.Password }}</p>
            <p><strong>Email:</strong> {{ userData?.Email }}</p>
            <p><strong>Birthday:</strong> {{ userData?.DateOfBirth | date }}</p>
            <br />
        </mat-card-content>
        <mat-card-footer>
        <p>
            <button mat-button color="primary" (click)="openEditDialog()">
                Edit Profile
            </button>
            <button mat-button color="warn" (click)="openDeleteDialog(deleteDialog)">
                Delete Profile
            </button>
<!-- TAMPLETE FOR CONFIORMING DELETION OF PROFILE -->
<ng-template #deleteDialog>
    <h2 mat-dialog-title>Delete Account</h2>
    <mat-dialog-content>
        <p>Are you sure you want to delete your profile? This action <strong>cannot</strong> be undone.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="warn" (click)="deleteUser()" mat-dialog-close class="changeButton">Delete</button>
        <button mat-button mat-dialog-close class="cancelButton">Cancel</button>    
    </mat-dialog-actions>
</ng-template>
<!-- END OF TAMPLETE FOR CONFIORMING DELETION OF PROFILE -->
        <button mat-button class="closeButton" color="accent" (click)="goBackToMovies()">
            Close
        </button>
    </p>
    </mat-card-footer>
    </mat-card>
</div>
<br />  
<section class="favorites-section">
    <h2>Favorite Movies</h2>
    <div class="horizontal-scroll" *ngIf="favorites.favoriteMovies.length; else noFavs">
        <mat-card *ngFor="let movie of favorites.favoriteMovies" class="fav-card">
            <img mat-card-image [src]="movie.ImageURL" [alt]="movie.Title" class="cardImage"/>
            <mat-card-title class="cardTitle"> {{movie.Title}} </mat-card-title>
            <mat-card-actions>
                <button 
                mat-button 
                color="primary" 
                (click)="openMovieDialog(movie)">
                    View Details
                </button>
               <button mat-button 
                        color="warn" 
                        (click)="favorites.remove(movie._id)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <ng-template #noFavs>
        <p>No favorite movies yet ❤️</p>
    </ng-template>
</section>      

