<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card style="flex: 1 1 auto;">
        <mat-card-header *ngIf="data.director">
        <mat-card-title>{{data.director.Name || 'Not specified'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Name:</strong> {{ data.director.Name || 'Not specified' }}</p>
            <p><strong>Bio:</strong> {{ data.director.Bio || "No Bio available." }}</p>
            <p><strong>Born:</strong> {{ data.director.DateOfBirth | date }}</p>
            <p *ngIf="data.director.DateOfDeath"><strong>Died:</strong> {{ data.director.DateOfDeath  | date }}</p>
        </mat-card-content>
<!-- Future improvement
                 <mat-card-footer>
            <p>Movies by this director will be listed here.</p>
        </mat-card-footer> 
-->
        <mat-card-actions>
            <button mat-button color="primary" (click)="dialogRef.close()">Close</button>
        </mat-card-actions>
    </mat-card>
</div>
