<mat-toolbar color="primary" class="toolbar">
  
  <!-- LEFT: title -->
  <span class="welcome-title">
    <h1>{{ isLoggedIn() ? 'myFlix' : 'Welcome to myFlix!' }}</h1>
  </span>

  <span class="spacer"></span>

  <!-- RIGHT: authenticated buttons -->
<ng-container *ngIf="isLoggedIn()">
    <button
    matButton="tonal"    
    style="margin-right: 10px;"
    color="accent"
    (click)="openUserProfile()"  >
    My Profile
  </button>

  <button 
  mat-button 
  style="margin-left: 3px;"
  (click)="logout()">
    Logout
  </button>
</ng-container>
</mat-toolbar>
