<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div class="horizontal-scroll">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
        <mat-card-header *ngIf="movie" (click)="openSingleMovieCardComponent(movie.Title)">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <button
            mat-icon-button
            (click)="favorites.toggle(movie._id)"
            class="likeButton"
            >
            <mat-icon color="accent" aria-label="favorite icon"> 
                {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }} 
            </mat-icon>
            </button>  
        </mat-card-header>
        <mat-card-content (click)="openSingleMovieCardComponent(movie.Title)">
          <div class="imageContainer"> 
            <img [src]="movie.ImageURL" [alt]="movie.Title" class="cardImage"/>
          </div>
          <div class="cardData">   
            <p><strong>Directed by: </strong> 
            {{ movie.Director.Name }}</p>
            <p><strong>Genre: </strong> 
            {{movie.Genre.Name}}</p>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <p>          
            <button mat-button class="closeButton" color="accent" (click)="openSingleMovieCardComponent(movie.Title)">
                Read more ...
            </button>
            </p>
        </mat-card-footer>
    </mat-card>
</div>
