<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;" (click)="openSingleMovieCardComponent(movie.Title)">
        <mat-card-header *ngIf="movie">
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director}}</mat-card-subtitle>
            <mat-card-subtitle>Genre: {{movie.Genre}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="movie.ImageUrl" alt="{{movie.Title}}" />
        <mat-card-actions>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>
