<app-navigation-toolbar></app-navigation-toolbar>

<!-- src/app/movie-card/movie-card.component.html -->
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;" (click)="openSingleMovieCardComponent(movie.Title)">
        <mat-card-header *ngIf="movie">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img [src]="movie.ImageURL" [alt]="movie.Title" />
            <strong>Directed by: </strong> 
            <p>{{ movie.Director.Name }}</p>
            <strong>Genre: </strong> 
            <p>{{movie.Genre.Name}}</p>
        </mat-card-content>
        <mat-card-actions>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
        <mat-card-footer>
        <button mat-button class="closeButton" color="accent" (click)="openSingleMovieCardComponent(movie.Title)">
            Read more ...
        </button>
    </mat-card-footer>
    </mat-card>
</div>
